@charset "utf-8";

.header {
  background-color: #fff;
  padding: 15px 0;
}

.hamburger-menu {
  display: none; /* 初期は非表示 */
}


.header-menu {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1100px;
}

.header-menu li {
  margin-left: 15px;
}

.header-menu li i {
  color: #777;
}

.contact-btn {
  color: #fff;
  background-color: #6ba7eb;
  padding: 15px;
  text-decoration: none;
}

.contact-btn:hover {
  color: #333;
  background-color: #6ba7eb;
  transition: color 0.3s;
}

.header-menu li i:hover {
  color: #777;
}

.keyvisual {
  text-align: center;
}

.main_title {
  font-size: 65px;
  font-weight: 700;
  color: #6ba7eb;
}

.main_title h1 {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  margin-top: 30px;
}

#img1 {
  background-image: url(../images/keyvisual/keyvisual.jpg);
  padding: 400px 0;
  background-size: cover;
  background-position: center;
}

.news {
  background-color: #e3f2fd;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 10px;
}

.news_content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.news_icon {
  width: 40%;
  height: 200px;
  background-image: url(../images/news/news.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.news_text {
  width: 60%;
}

.news_text p {
  font-size: 40px;
  letter-spacing: 10px;
  margin-bottom: 35px;
  margin-top: 20px;
  text-align: center;
}

.news_text h2 {
  font-size: 15px;
  line-height: 18px;
  word-break: break-all;
  margin-top: 35px;
}

.skills {
  background-color: #fff;
  padding: 50px;
}

.skills_text {
  font-size: 40px;
  letter-spacing: 10px;
  margin-bottom: 35px;
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
}

.skills_icon {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  gap: 100px;
  justify-content: center;
}

.skills_icon li {
  background-size: contain;
  background-repeat: no-repeat;
  height: 300px;
  width: 300px;
  opacity: 0.7;
}

.skills_icon li:hover {
  opacity: 1.0;
}

.skills_1 {
  background-image: url(../images/icons/photo.png);
}

.skills_2 {
  background-image: url(../images/icons/flower.png);
}

.skills_3 {
  background-image: url(../images/icons/data.png);
}

.skills_4 {
  background-image: url(../images/icons/location.png);
}

.skills_5 {
  background-image: url(../images/icons/calender.png);
}

.skills_6 {
  background-image: url(../images/icons/security.png);
}

.plan {
  background-color: #d0dfea;
  padding: 50px;
}

.plan_content {
  font-size: 60px;
  text-align: center;
  margin-bottom: 50px;
  font-weight: bold;
}

.plan_table {
  margin: 0 auto;
  width: auto;
  border-collapse: collapse;
}

.plan_table th,
.plan_table td {
  padding: 10px;
  text-align: center;
  font-size: 16px;
  line-height: 26px;
  border-left: 2px solid #fff;
}

.plan_table th {
  background-color: #6ba7eb;
  font-weight: bold;
}

.plan_table td:first-child {
  font-weight: bold;
}

.plan_table th:first-child,
.plan_table td:first-child {
  border-left: none;
}

.plan_table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.plan_table tr:nth-child(odd) {
  background-color: #e0efff;
}

.sns {
  background-color: #e3f2fd;
  padding: 200px 0;
  display: flex;
  justify-content: center;
}

.sns-icon {
  display: flex;
}

.sns-icon a {
  width: 185px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 25px 0;
  color: #8c8c8c;
  font-size: 40px;
  transition: color 0.5s;
  text-decoration: none;
}

.sns-icon a:hover {
  color: #fff;
}


.fab,
.fas {
  transition: 0.5s;
}

.fab:hover,
.fas:hover {
  color: #fff;
}

.footer_text {
  background-color: #cfd8dc;
}

.footer_text p {
  padding: 25px;
  font-size: 13px;
  letter-spacing: 0.5px;
  text-align: right;
}

@media screen and (max-width: 1199px) {
  .inner {
    width: 97%;
  }

  .keyvisual {
    padding: 250px 0;
  }

  .news {
    padding: 50px 0;
  }

  .news_content {
    display: block;
    text-align: center;
  }

  .news_icon {
    width: 100%;
  }

  .news_text {
    width: 100%;
  }

  .skills_icon {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    gap: 0;
  }

  .skills_icon li:nth-child(3n+4) {
    margin-top: 80px;
  }

  .skills_icon li:nth-child(7),
  .skills_icon li:nth-child(11) {
    margin-bottom: 80px;
  }

  .skills_icon li{
    width: 300px;
  }

  .sns {
    display: flex;
    justify-content: center; 
  }

  .sns-icon {
    display: flex; 
    justify-content: center; 
  }
}

@media screen and (max-width: 767px) {
  .contact-btn {
    display: none; /* スマホサイズで非表示 */
  }

  .hamburger-menu {
    display: flex; /* メニューを表示 */
    flex-direction: column; /* 縦に並べる */
  }

  .hamburger-menu div {
    width: 25px; /* 線の幅 */
    height: 3px; /* 線の高さ */
    background-color: #333; /* 線の色 */
    margin: 3px 0; /* 線の間隔 */
  }

  .keyvisual {
    padding: 200px 0;
    max-width: 100%;
  }


  .main_title {
    font-size: 40px;
    color: #6ba7eb;
  }

  .main_title h1 {
    font-size: 30px;
    color: #fff;
    margin-top: 30px;
  }

  .inner {
    width: 97%;
    margin: 0 auto;
    box-sizing: border-box; /* 余計な横スクロールを防ぐ */
  }
  
  .news_content {
    display: block;
    text-align: center;
    max-width: 100%;
  }

  .news_icon {
    width: 100%;
    display: block;
  }

  .news_text {
    max-width:100%;
  }

  .skills_icon {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: flex-start;
    gap: 0;
    max-width: 100%;
  }

  .skills_icon li:nth-child(3n+4) {
    margin-top: 80px;
  }

  .skills_icon li:nth-child(7),
  .skills_icon li:nth-child(11) {
    margin-bottom: 80px;
  }

  .skills_icon li{
    width: 300px;
  }


  .plan_table{
    justify-content: center;
  }


 .plan{
  max-width: 100%;
  padding: 50px 0;
 }

  .plan_table th{
    font-size: 14px;
    line-height: 22px;
  }

  .plan_table td{
    font-size: 12px;
  }

  .sns {
    padding: 50px 0;
  }

  .sns-icon {
    padding: 50px 0;
    flex-direction: column;
    width: 100%;
  }

  .sns-icon a {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
  }

  }
